<h1> Bookmarks </h1>

<ul>
  <% @links.each do |link| %>
  <li>
    <strong>Title:</strong> <%= link.title %>
    <strong>URL:</strong> <%= link.url %>
    <strong>Tag:</strong> <%= link.tags.first.tag %>
  </li>
  <% end %>
</ul>
