<h1> Bookmarks - Welcome <%= @user %> </h1>

<ul>
  <% @links.each do |link| %>
  <li>
    <strong>Title:</strong> <%= link.title %>
    <strong>URL:</strong> <%= link.url %>
    <strong>Tag:</strong> <% link.tags.each do |tag| %> <%= tag.tag %> <% end %>
  </li>
  <% end %>
</ul>
