
<ul id="links">
  <% @links.each do |link| %>
  <li>
    Name: <%= link.name %>
    URL: <%= link.url %>
    Tags: <%= link.tags.map {|tag| tag.name }.join(', ') %>
  </li>
  <% end %>
  tags2: <%= @links[1].tags[0].name %>
</ul>
