<body>

<h1> Please login up to the bookmark_manager</h1>

<form action= '/login' method= "POST">
  <label for="email">
    Email:
    <input type= 'email' required name= "email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$">
  </label>
  <label for="password">
    Password:
    <input type= 'password' name= "password">
  </label>
  <input type= 'submit' value= "Submit">
</form>

</body>
