<h1> Please sign up to the bookmark_manager</h1>

<form action= '/signup' method= "POST">
  <label for="name">
    Full name:
    <input type= 'text' name= "name" value='<%= @user.name %>' >
  </label>
  <label for="email">
    Email:
    <input type= 'email' required name= "email" value='<%= @user.email %>' pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$">
  </label>
  <label for="password">
    Password:
    <input type= 'password' name= "password">
  </label>
  <label for="password_confirmation">
    Confirm password:
    <input type= 'password' name= "password_confirmation">
  </label>
  <input type= 'submit' value= "Submit">
</form>
